<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ASS6_PRO2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addtocart</display-name>
    <servlet-name>Addtocart</servlet-name>
    <servlet-class>Addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtocart</servlet-name>
    <url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletefromcart</display-name>
    <servlet-name>Deletefromcart</servlet-name>
    <servlet-class>Deletefromcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletefromcart</servlet-name>
    <url-pattern>/Deletefromcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Orderfood</display-name>
    <servlet-name>Orderfood</servlet-name>
    <servlet-class>Orderfood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orderfood</servlet-name>
    <url-pattern>/Orderfood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logoutservlet</display-name>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
</web-app>